* {
    color: white;
}

.login {
    background-image: url('./images/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-size: large;
    font-weight: bold;
}

.login.admin {
    background-image: url('./images/main-admin.png');
}

.login>form {
    margin-top: 22vh;
}

.button {
    font-size: large;
    font-weight: bold;
}

.active {
    background-color: #007bff;
    color: #fff;
}

.active:hover {
    background-color: #0069d9;
    color: #fff;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: white;
}

.table-hover>tbody>tr:hover>* {
    color: yellow;
}