* {
    color: white;
}

.login {
    background-image: url('./images/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-size: large;
    font-weight: bold;
}

.login.admin {
    background-image: url('./images/main-admin.png');
}

.login>form {
    margin-top: 22vh;
}

.button {
    font-size: large;
    font-weight: bold;
}

@media (min-width: 768px) {
    .active {
        transform: translateX(15px);
        transition: transform 0.3s ease;
    }
}

.active:hover {
    color: #fff;
}

.admin-menu a {
    min-height: 5vh;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #131313;
}

.navbar-nav .nav-link.active {
    color: white;
}

.red-chalk {
    background-image: url('./images/red-chalk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.orange-chalk {
    background-image: url('./images/orange-chalk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.yellow-chalk {
    background-image: url('./images/yellow-chalk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.green-chalk {
    background-image: url('./images/green-chalk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.blue-chalk {
    background-image: url('./images/blue-chalk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.black-chalk {
    background-image: url('./images/red-chalk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: grayscale(1);
}

.border-rounded {
    border-radius: 0.375rem;
}

.table * {
    color: black;
}

.text-right {
    text-align: end;
}

.modal-title, .modal-body *{
    color: black;
}

.pointer {
    cursor: pointer;
}